@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Style+Script&display=swap'); /* import google fonts */


/* font-family declaration */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*  element selector */
header {
    text-align: center;
    color: #FFF9D6;
    width: auto;
    height: 12rem;
    background-color: #272838;
}

.city-header {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.1rem;
}

.page-name {
    margin: auto;
    font-size: 5rem;
    font-family: 'Style Script', cursive;
    font-style: italic;
}

#nickname {
    font-size: 1.1rem;
    margin: 0;
}

nav {
    background-color: #3ab795;
    margin: 0;
    padding: 0;    
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a {
    width: 20%;
    height: auto;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 5px;
}

nav a:link, nav a:visited {
    color: #272838;
    border-bottom: 5px solid #3ab795;
}

/* a:hover pseudo-class requirement */
nav a:hover {
    background-color: #FFF9D6;
    color: #f96d4d;
    text-decoration: none;
    border-bottom: 5px solid #f96d4d;
    animation: hoverborder .2s 1 ease-in;
}

@keyframes hoverborder {
    0%      {border-bottom: 1px solid #f96d4d;}
    25%     {border-bottom: 2px solid #f96d4d;}
    50%     {border-bottom: 3px solid #f96d4d;}
    75%     {border-bottom: 4px solid #f96d4d;}
    100%    {border-bottom: 5px solid #f96d4d;}
}

.container {
    display: flex;
}

section {
    width: 70%;
    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

section h2 {
    margin-top: 50px;
    padding: 5px 0;
    border-bottom: 1px solid #eaecf0;
}

section h3 {
    margin-top: 50px;
}

figure {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 800px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    position: relative;
}

figcaption {
    text-align: center;
    font-size: 0.75rem;
    background-color: #FFF9D6;
    width: 50%;
    /* absolute positioning */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

figure.city-img {
    width: 60rem;
}

/*  element selector */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: #f96d4d;
}

p.flag {
    text-align: right;
}

figure.flag {
    max-width: 32rem;
    float: right;
    margin-top: 0;
}

aside {
    /* float property to position element to the side of another */
    float: right;
    width: 25%;
    padding: 40px;
    /* relative positioning in at least one area of the web page */
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside div {
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 1px solid #f96d4d;
    border-radius: 12px;
}

.related-info li {
    font-size: .85rem;
}

footer {
    width: auto;
    height: 10rem;
    background-color: #272838;
    /* relative positioning in at least one area of the web page */
    position: relative;
    z-index: 2;
    box-shadow: 0 -5px 5px -1px rgba(0,0,0,0.2);
    text-align: center;
    padding-top: 2rem;
}

footer p {
    padding: 1rem 0;
    margin: 0;
    color: #FFF9D6;
}

footer p a:link, footer p a:visited {
    text-decoration: none;
    color: #3ab795;
}

footer p a:hover {
    text-decoration: underline;
    color: #f96d4d;
}
