@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Style+Script&display=swap'); /* import google fonts */

body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    height: 300px;
}

p.heading {
    margin-bottom: 5px;
}

#state {
    margin: 5px;
    font-size: 90px;
    font-family: 'Style Script', cursive;
    font-style: italic;
}

img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

aside {
    background-color: #FFF9D6;
    box-shadow: 1px;
}