@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Style+Script&display=swap'); /* import google fonts */

body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    color: #FFF9D6;
    width: auto;
    height: 190px;
    background-color: #272838;
}

header p {
    padding-top: 25px;
    margin-bottom: 5px;
}

#state {
    margin-top: 5px;
    font-size: 90px;
    font-family: 'Style Script', cursive;
    font-style: italic;
}

/* nav {
    background-color: #3ab795;
    padding: 50px;
} */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3ab795;
}

li.nav {
    float: left;
    width: 20%;
}

li.nav a {
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* for mobile? -- 
    display: inline-block;
    top: 50%;
    width: 100%; */
}

li.nav a:link, a:visited {
    color: #272838;
}

/* a:hover requirement */
li.nav a:hover {
    background-color: #FFF9D6;
    color: #f96d4d;
}

img {
    max-width: 100%;
    width: 600px;
    height: auto;
}

aside {
    background-color: #FFF9D6;
    box-shadow: 1px;
}